doctrine:
  dbal:
    dbname: '%env(resolve:DATABASE_NAME)%'
    host: '%env(resolve:DATABASE_HOST)%'
    port: '%env(resolve:DATABASE_PORT)%'
    user: '%env(resolve:DATABASE_USER)%'
    password: '%env(resolve:DATABASE_PASSWORD)%'
    driver: pdo_mysql
    server_version: '8.0'
  orm:
    auto_generate_proxy_classes: true
    auto_mapping: true
    mappings:
      App:
        alias: App
        dir: '%kernel.project_dir%/src/Entity'
        is_bundle: false
        prefix: 'App\Entity'
        type: attribute
    naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
